In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from alpha_vantage.timeseries import TimeSeries
import matplotlib.pyplot as plt
ts = TimeSeries(key='2J2BP2H90CUIBWSJ',output_format='pandas')

In [2]:
DIS_data, metadata=ts.get_daily('DIS',outputsize='full')
DIS_data.describe()

           1. open      2. high       3. low     4. close     5. volume
count  5226.000000  5226.000000  5226.000000  5226.000000  5.226000e+03
mean     56.091725    56.611333    55.535068    56.095625  9.433350e+06
std      37.213090    37.432899    36.931040    37.185586  5.785021e+06
min      13.800000    14.100000    13.480000    13.770000  1.487900e+06
25%      27.270000    27.650000    26.965000    27.292500  6.120075e+06
50%      35.500000    35.945000    35.110000    35.490000  8.003400e+06
75%      95.302500    96.265000    94.445000    95.187500  1.098850e+07
max     152.940000   153.410000   151.150000   151.640000  1.166250e+08

In [3]:
DIS_data.to_csv('DIS_data.csv')

In [4]:
DIS_data['date'] = DIS_data.index

In [5]:
DIS_data

            1. open  2. high  3. low  4. close   5. volume       date
date
2020-08-07   130.22   131.94  128.66    129.93  16088579.0 2020-08-07
2020-08-06   126.96   131.63  125.61    130.82  27237996.0 2020-08-06
2020-08-05   123.37   130.31  123.28    127.61  53122394.0 2020-08-05
2020-08-04   115.96   118.35  115.76    117.29  17293923.0 2020-08-04
2020-08-03   116.17   117.12  115.35    116.35  10229172.0 2020-08-03
...             ...      ...     ...       ...         ...        ...
1999-11-05    25.50    25.50   24.06     24.31  26165000.0 1999-11-05
1999-11-04    27.75    29.00   26.00     26.50  13492400.0 1999-11-04
1999-11-03    27.38    27.38   26.69     26.88   8196800.0 1999-11-03
1999-11-02    25.56    26.31   25.50     26.25   6240800.0 1999-11-02
1999-11-01    25.31    26.06   24.94     25.69   7585800.0 1999-11-01

[5226 rows x 6 columns]

In [6]:
DIS_training_complete = pd.read_csv('/Users/kelbywilson/Desktop/project_3/DIS_data.csv')

In [10]:
DIS_training_processed = DIS_training_complete.iloc[:, 1:2].values

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (0, 1))

DIS_training_scaled = scaler.fit_transform(DIS_training_processed)

In [14]:
features_set = []
labels = []
for i in range(60, 5226):
    features_set.append(DIS_training_scaled[i-60:i, 0])
    labels.append(DIS_training_scaled[i, 0])

In [15]:
# Convert both the feature_set and the labels list to the numpy array before we can use it for training
features_set, labels = np.array(features_set), np.array(labels)

In [16]:
# In order to train LSTM on our data, we need to convert our data into the shape accepted by the LSTM.
# We need to convert our data into three-dimensional format
features_set = np.reshape(features_set, (features_set.shape[0], features_set.shape[1], 1))

In [17]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dropout

In [18]:
model = Sequential()

In [19]:
model.add(LSTM(units=50, return_sequences=True, input_shape=(features_set.shape[1], 1)))

WARNING:tensorflow:From /Users/kelbywilson/opt/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

In [20]:
# Add dropout layer to avoid overfitting of the data
model.add(Dropout(0.2))

In [21]:
model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.2))

model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.2))

model.add(LSTM(units=50))
model.add(Dropout(0.2))

In [22]:
# To make our model more robust we add a dense layer
model.add(Dense(units = 1))

In [23]:
model.compile(optimizer = 'adam', loss = 'mean_squared_error')

In [24]:
model.fit(features_set, labels, epochs = 50, batch_size = 32)

WARNING:tensorflow:From /Users/kelbywilson/opt/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Train on 5166 samples
Epoch 1/50
5166/5166 [==============================] - 26s 5ms/sample - loss: 0.0085
Epoch 2/50
5166/5166 [==============================] - 25s 5ms/sample - loss: 0.0021
Epoch 3/50
5166/5166 [==============================] - 27s 5ms/sample - loss: 0.0020
Epoch 4/50
5166/5166 [==============================] - 25s 5ms/sample - loss: 0.0017
Epoch 5/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 0.0017
Epoch 6/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 0.0017
Epoch 7/50
5166/5166 [==============================] - 23s 5ms/sample - loss: 0.0015
Epoch 8/50
5166/5166 [==============================] - 23s 5ms/sample - loss: 0.0013
Epoch 9/50
5166/5166 [==============================] - 23s 5ms/sample - loss: 0.0013
Epoch 10/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 0.0011
Epoch 11/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 0.0011
Epoch 12/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 0.0011
Epoch 13/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 0.0011
Epoch 14/50
5166/5166 [==============================] - 23s 5ms/sample - loss: 9.9961e-04
Epoch 15/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 9.3412e-04
Epoch 16/50
5166/5166 [==============================] - 23s 4ms/sample - loss: 9.4572e-04
Epoch 17/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 0.0010
Epoch 18/50
5166/5166 [==============================] - 23s 4ms/sample - loss: 9.8210e-04
Epoch 19/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 8.8692e-04
Epoch 20/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 9.2203e-04
Epoch 21/50
5166/5166 [==============================] - 26s 5ms/sample - loss: 8.9187e-04
Epoch 22/50
5166/5166 [==============================] - 25s 5ms/sample - loss: 8.6587e-04
Epoch 23/50
5166/5166 [==============================] - 29s 6ms/sample - loss: 7.8105e-04
Epoch 24/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 8.3988e-04
Epoch 25/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 9.1505e-04
Epoch 26/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 8.1750e-04
Epoch 27/50
5166/5166 [==============================] - 25s 5ms/sample - loss: 7.6345e-04
Epoch 28/50
5166/5166 [==============================] - 25s 5ms/sample - loss: 8.3684e-04
Epoch 29/50
5166/5166 [==============================] - 25s 5ms/sample - loss: 8.0481e-04
Epoch 30/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 7.9963e-04
Epoch 31/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 7.8465e-04
Epoch 32/50
5166/5166 [==============================] - 25s 5ms/sample - loss: 8.5291e-04
Epoch 33/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 8.1157e-04
Epoch 34/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 7.5084e-04
Epoch 35/50
5166/5166 [==============================] - 23s 5ms/sample - loss: 7.7662e-04
Epoch 36/50
5166/5166 [==============================] - 23s 5ms/sample - loss: 8.0633e-04
Epoch 37/50
5166/5166 [==============================] - 23s 4ms/sample - loss: 7.4979e-04
Epoch 38/50
5166/5166 [==============================] - 23s 5ms/sample - loss: 7.6615e-04
Epoch 39/50
5166/5166 [==============================] - 23s 5ms/sample - loss: 7.1503e-04
Epoch 40/50
5166/5166 [==============================] - 23s 5ms/sample - loss: 8.3467e-04
Epoch 41/50
5166/5166 [==============================] - 23s 5ms/sample - loss: 7.4597e-04
Epoch 42/50
5166/5166 [==============================] - 23s 4ms/sample - loss: 6.9494e-04
Epoch 43/50
5166/5166 [==============================] - 23s 4ms/sample - loss: 7.2299e-04
Epoch 44/50
5166/5166 [==============================] - 23s 5ms/sample - loss: 7.4345e-04
Epoch 45/50
5166/5166 [==============================] - 23s 5ms/sample - loss: 7.0812e-04
Epoch 46/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 6.7583e-04
Epoch 47/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 7.2057e-04
Epoch 48/50
5166/5166 [==============================] - 23s 5ms/sample - loss: 7.7924e-04
Epoch 49/50
5166/5166 [==============================] - 24s 5ms/sample - loss: 7.2618e-04
Epoch 50/50
5166/5166 [==============================] - 23s 5ms/sample - loss: 6.5676e-04